body {
  margin: 0;
  background: black;
  color: white;
  font-family: Arial;
}

.login-container {
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 300px;
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 15px;
  padding: 10px;
}

button {
  background: #1db954;
  padding: 10px;
  border: none;
  border-radius: 20px;
}

#errorMsg {
  color: red;
  text-align: center;
}
