@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Varela+Round&display=swap');

body{
    background-color: antiquewhite;
}

*{
    margin: 0;
    padding: 0; 
}

a{
    color: white;
}

nav{
    font-family: "ubuntu", sans-serif; 
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type:none;
    height: 65px;
    background-color: black;
    color: white;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bold;
    font-size:1.3rem;
}

.container{
    min-height: 63vh;
    display: flex;
    background-color:black;
    font-family: "varela Round",sans-serif;
    color: white;
    width: 60%;
    margin: 12px auto;
    border-radius: 12px;
    padding: 34px;
    background-image:url("covers/bg.jpg");
    background-size: cover;
    background-position: center;
}

.bottom{
    position: sticky;
    height: 130px;
    background-color: black;
    color: white;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center ;
    flex-direction: column;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.icons img{
    height: 50px;
    margin: 10px;
    cursor: pointer;
}

.songListPlay img{
    width:1rem;
    cursor: pointer;
}

.songitem{
    height: 33px;
    display: flex;
    background-color: white;
    width: 70%;
    color: black;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.songitem img{
    width: 25px;
    margin-left: 10px;
    border-radius: 34px;
    -webkit-border-radius: 34px;
    -moz-border-radius: 34px;
    -ms-border-radius: 34px;
    -o-border-radius: 34px;
    margin-bottom: 4px;
}

.songListPlay{
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.songInfo{
    position: absolute;
    left: 10vw;
}

.songInfo img{
    opacity: 0;
    transition: opacity 0.5s ease-in;
    -webkit-transition: opacity 0.5s ease-in;
    -moz-transition: opacity 0.5s ease-in;
    -ms-transition: opacity 0.5s ease-in;
    -o-transition: opacity 0.5s ease-in;
}